/* Variables para usar en el CSS */
:root {
    --background-color-dark: #151515;
    --background-color-white: #FFFFFF;
    --text-color-white: #FFFFFF;
    --text-color-black: #000000;
    --text-color-one : #004965;
    --shadow-color-one: #070707;
    --link-text-color: #838f8c;
    --background-color-ilumine: #C5C5C5;
    --background-color-ilumine-dark: #000000;
    --background-color-scrollbar: #969696;
    --background-color-section: #F5F5F5;
}

/* Resetear estilos predeterminados */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: var(--background-color-dark);
}

body::-webkit-scrollbar {
    width: 0.75rem;
    background-color: var(--background-color-dark);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--background-color-ilumine);
    border: 0.2rem solid;
    border-radius: 0.5rem;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--background-color-scrollbar);
    transition: all 1s;
}

.bg-dark-one {
    background-color: var(--background-color-dark);
}

.shadow-one {
    box-shadow: 0 0.25rem 0.25rem var(--shadow-color-one);
}

.active-white {
    background-color: var(--background-color-white);
}

.text-animation:hover{
    color: var(--text-color-one);
    transition: all 1s;
}

.btn-large {
    width: 10rem;
}

.btn-other {
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    animation: pulse-button 1.5s infinite;
}

.text-change-color:hover {
    color: var(--link-text-color);
    transition: all 0.8s;
}

/* Formato para cabecera */

.header-nav-item {
    color: var(--text-color-white);
    width: 7.5rem;
}

.header-nav-item:hover > a {
    background-color: var(--background-color-white);
    color: var(--text-color-black);
    transition: all 0.8s;
}

.header-nav-sublist {
    display: none;
    list-style: none;
    align-items: center;
    position: absolute;
    flex-direction: column;
}

.nav-sublist-item {
    width: 100%;
}

.nav-sublist-item a{
    background-color: var(--background-color-dark);
    color: var(--text-color-white);
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    display: block;
    padding: 1.5rem 0;
}

.header-nav-page .header-nav-list > .header-nav-item:hover .header-nav-sublist {
    display: block;
}

.nav-sublist-item:hover a{
    background-color: var(--background-color-white);
    color: var(--text-color-black);
    transition: all 0.8s;
}

/* Aplicando keyframes para nuestra animación de imágenes */

@keyframes change-image {
    0% {margin-left: 0;}
    17% {margin-left: 0;}

    20.75% {margin-left: -100%;}
    37.75% {margin-left: -100%;}

    41.5% {margin-left: -200%;}
    58.5% {margin-left: -200%;}

    62.25% {margin-left: -300%;}
    79.25% {margin-left: -300%;}

    83% {margin-left: -400%;}
    100% {margin-left: -400%;}
}

/* Formato para la sección de características */

.caracteristica-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.img-style{
    max-width: 15rem;
    display: block;
    margin: auto;
    border-radius: 0.5rem;
    margin: 1rem auto;
}

.card-scale {
    transition: 1s;
}

.card-border-none {
    border-radius: 0;
}

.card-scale:hover {
    background-color: var(--background-color-ilumine-dark);
    transform: scale(1.1);
    border-radius: 0.5rem;
}

.content-caracteristica:hover {
    background-color: var(--background-color-ilumine-dark);
    transform: scale(1.1);
    border-radius: 0.5rem;
}

/* Formato para la sección de descripción */

.description-flex {
    display: flex;
    flex-direction: column;
}

.title-description {
    font-size: 2.65rem;
    text-align: center;
    font-weight: bold;
    padding: 2.5rem;
}

.content-description {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.content-square-descr {
    margin: 1.5rem 5rem;
    background-color: var(--background-color-dark);
    border-radius: 1rem;
}

.content-square-descr p {
    padding: 0 1.5rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: var(--text-color-white);
}

.description-img {
    width: 20rem;
    display: block;
    margin: auto;
    padding: 2rem 0;
}

/* Formato para la sección de promoción y contacto */

.promotion-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-dark);
    color: var(--text-color-white);
}

.promotion-flex h2 {
    font-size: 3rem;
    padding: 3rem 4.5rem;
    text-align: center;
}

.promotion-flex img {
    display: block;
    margin: auto;
    width: 100%;
}

.promotion-flex p {
    font-size: 1.75rem;
    padding: 2rem 0;
    text-align: center;
}

.button {
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 0.8rem;
    border: none;
    background-color: var(--background-color-white);
    cursor: pointer;
    width: 15rem;
    height: 3rem;
    margin: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    animation: pulse-button 1.5s infinite;
}

/* Animación para el botón de contacto */

@keyframes pulse-button {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(256, 256, 256, 0.2);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 1.5rem rgb(256, 256, 256, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(256, 256, 256, 0);
    }
}

/* Formato para la sección del pie de página */

.nav-link-footer li {
    list-style: none;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
}

.nav-link-footer li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text-color-black);
}

.nav-link-footer li a:hover{
    color: var(--link-text-color);
    transition: all 0.8s;
}

/* Edición de la página de Servicios */

.main-services {
    padding-top: 5rem;
}

.banner-services img {
    display: grid;
    margin: 0 auto;
    width: 100%;
}

.information-services {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 1fr;
    background-color: var(--background-color-dark);
}

.text-information {
    color: var(--text-color-white);
}

.text-information h2 {
    font-size: 1.8rem;
    text-align: center;
    padding: 1.5rem;
}

.text-information p {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 2rem;
}

.video-information {
    width: 30rem;
    height: 22.5rem;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.information-additional {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--background-color-white);
}

.information-additional h2 {
    font-size: 1.8rem;
    text-align: center;
    padding: 2rem;
    padding-bottom: 0rem;
}

.information-additional p {
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem;
}

.service-tecnico, .manager-accounts, .service-professional {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info-service {
    background-color: var(--background-color-dark);
    color: var(--background-color-white);
}

.info-service h2 {
    padding: 1rem 2rem;
    text-align: center;
}

.info-service p {
    font-size: 0.95rem;
    padding: 1rem 2rem;
}

.detail-service {
    background-color: var(--background-color-white);
    padding: 2rem 1.5rem 2rem 3rem;
}

.info-service-color, .detail-service-color {
    background-color: var(--background-color-section);
    color: var(--text-color-black);
}

.talk-service {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-white);
    align-items: center;
}

.talk-service h2 {
    font-size: 1.8rem;
    text-align: center;
    padding: 2rem;
    padding-bottom: 0rem;
}

.talk-service p {
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem;
}

.button-mod {
    width: 15rem;
    font-size: 1rem;
    background-color: var(--background-color-ilumine-dark);
    color: var(--text-color-white);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    animation: pulse-button-mod 1.5s infinite;
}

@keyframes pulse-button-mod {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(0, 0, 0, 0.2);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 1.5rem rgb(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(0, 0, 0, 0);
    }
}

/* Formato para a página de Contacto */

.main-contact {
    padding-top: 5rem;
    background-color: var(--background-color-dark);
    color: var(--text-color-white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "form-contact"
        "others-contacts"
        "ubications-contacts";
}

.user-contact {
    grid-area: form-contact;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-contact .information-contact h2 {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
    padding-bottom: 1rem;
}

.user-contact .information-contact p {
    font-size: 1.15rem;
    text-align: center;
    padding: 1rem;
    padding-bottom: 2rem;
}

.user-contact .form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-contact .form-contact
.content-first, .content-second, .text-area, .label-text {
    width: 27.5rem;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 0.35rem;
    border: none;
}

.others-contacts {
    grid-area: others-contacts;
}

.ubication-contacts {
    grid-area: ubication-contacts;
}

/* Media queries para página responsive */

@media only screen and (min-width: 800px) {
    .information-services {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    .text-information h2 {
        font-size: 3rem;
        text-align: center;
        padding: 4rem;
    }
    
    .text-information p {
        font-size: 1.5rem;
        text-align: center;
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    .video-information {
        min-width: 45rem;
        min-height: 30rem;
        margin: 2rem auto;
        padding: 0;
    }

    .information-additional {
        display: grid;
        grid-template-columns: 1fr;
        background-color: var(--background-color-white);
    }
    
    .information-additional h2 {
        font-size: 2.5rem;
        text-align: center;
        padding: 2.5rem;
        padding-bottom: 1rem;
    }
    
    .information-additional p {
        font-size: 1.5rem;
        text-align: center;
        padding: 2rem 6rem;
        padding-bottom: 3rem;
    }
    
    .service-tecnico, .manager-accounts, .service-professional {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .info-service {
        background-color: var(--background-color-dark);
        color: var(--background-color-white);
    }
    
    .info-service h2 {
        padding: 0 5rem;
        padding-top: 3.5rem;
        text-align: left;
        font-size: 2.5rem;
    }
    
    .info-service p {
        font-size: 1.5rem;
        padding: 3.5rem 5rem;
        padding-right: 7rem;
    }
    
    .detail-service {
        background-color: var(--background-color-white);
        padding: 4rem 9rem;
        font-size: 1.5rem;
    }
    
    .info-service-color, .detail-service-color {
        background-color: var(--background-color-section);
        color: var(--text-color-black);
    }

    .talk-service {
        display: flex;
        flex-direction: column;
        background-color: var(--background-color-white);
        align-items: center;
    }

    .talk-service h2 {
        font-size: 2.5rem;
        text-align: center;
        padding: 3rem;
        padding-bottom: 0rem;
    }

    .talk-service p {
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        padding: 3rem;
    }

    .button-mod {
        width: 22rem;
        font-size: 1.5rem;
        font-weight: 400;
        background-color: var(--background-color-ilumine-dark);
        color: var(--text-color-white);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
        animation: pulse-button-mod 1.5s infinite;
    }

    .main-contact {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "form-contact form-contact form-contact"
            "others-contacts others-contacts others-contacts"
            "ubications-contacts ubications-contacts ubications-contacts";
    }
    
    .user-contact {
        grid-area: form-contact;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.2fr 1fr;
        grid-template-areas: 
            "title-p title-p none"
            "form form form";
    }
    
    .user-contact .information-contact {
        grid-area: title-p;
    }

    .user-contact .information-contact h2 {
        font-size: 3rem;
        text-align: left;
        padding: 3rem 5rem;
        padding-bottom: 2rem;
    }
    
    .user-contact .information-contact p {
        font-size: 1.5rem;
        text-align: left;
        padding: 1rem 5rem;
    }
    
    .user-contact .form-contact {
        grid-area: form;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(9, 0.2fr);
        padding: 1rem 5rem;
    }

    .user-contact .form-contact .content-first {
        grid-column: 1 / 2;
    }

    .user-contact .form-contact .content-second {
        grid-column: 2 / 3;
    }

    .user-contact .form-contact .text-area {
        grid-column: 1 / 3;
        grid-row: 5 / 8;
    }

    .user-contact .form-contact .label-text{
        grid-column: 1;
        grid-row: 9;
    }

    .user-contact .form-contact .button {
        grid-column: 1;
        grid-row: 10;
    }
    
    .user-contact .form-contact
    .content-first, .content-second, .text-area, .label-text {
        width: 27.5rem;
        border-radius: 0.35rem;
        border: none;
    }

    .others-contacts {
        grid-area: others-contacts;
    }
    
    .ubication-contacts {
        grid-area: ubication-contacts;
    }
}

@media only screen and (min-width: 800px) {

    .caracteristica-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .content-description {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .content-square-descr {
        margin-bottom: 5rem;
    }
}